@font-face {
    font-family: 'Montserrat Light';
    src: url("../fonts/Montserrat-Light.ttf")
}

@font-face {
    font-family:"Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf")
}

ul {
	padding: 0;
}

body {
	vertical-align: middle;
	font-family: 'Montserrat Light';
	color: #4A4A4A;
}

h1, h2 {
	font-weight: normal;
	margin:0;
	font-family: 'Montserrat Regular';
}

h5 {
	font-weight: normal;
	margin:0;
	font-family: 'Montserrat Light';
}

h1, h2 {
	border-bottom: 2px solid #FF7D87;
	padding-bottom: 2px;
	margin-bottom: 3px; 
}

a {
	color: #4A90E2;
}

img {
	width: 80%;
	max-width: 250px;
	align-self: center;
}

p {
	padding-bottom: 2rem;
}

.main-container {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    width: 80%;
    height: 80%;
}

.name-desc {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.img-container {
	width: 50%;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
}

.link-list {
	list-style-type: none;
	margin-bottom: 54px;
}

.navbar {
	margin-top: 1rem;
	margin-right: 3rem;
}

.nav-link {
	font-family: "Montserrat Regular";
	color: #4A4A4A;
	text-decoration: none;
	border-bottom: 2px solid #FF7D87;
	padding-bottom: 2px;
	margin-left: 2rem;
}

.sections {
	display: flex;
	flex-flow: wrap;
	padding: 0;
}

.about-container {
	width: 50%;
}

.about {
	width: 100%;
}

.projects {
	width: 61%;
}

.projects-title {
	width: 8rem;
}

.links-title {
	width: 4.5rem;
}

.links-outer {
	display: flex;
	justify-content: flex-end;
	width: 30%
}

.mobile-buttons {
	display: none;
}

@media (max-width: 700px) {
	.main-container {
		height: 90%;
	}

	.navbar {
		display: none;
	}

	.sections {
		flex-direction: wrap;
		padding:0;
	}

	.img-container {
		width:100%;
	}

	.about {
		width: 100%;
	}

	.about-container {
		width: 100%;
	}

	.projects {
		width: 100%;
		margin-bottom: 48px;
	}

	.links-outer {
		width: 50%;
		justify-content: flex-start;
	}

	.mobile-buttons {
		display: flex;
		width: 50%;
		flex-direction: column;
		align-items: center;
	}

	.nav-link {
		margin-bottom: 20px;
		margin-left: 0;
		font-size: 20px;
	}

}
